.contactsContainer{
    width: 400px;
    background-color: rgb(31, 51, 121);
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.hamburgerContactsContainer{
    position: absolute;
    z-index: 99;
    width: 280px;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(31, 51, 121);
}

.contactsDivContainer{
    flex: 1;
    height: auto;
    background-color: rgb(22, 48, 95);
}

.chatsContact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
    /* max-height: 40vh; */
    overflow: auto;
    max-height: 80vh;
    padding-top: 185px;
}

.chatsContact::-webkit-scrollbar{
    width: 0.2rem;
}

.chatsContact::-webkit-scrollbar-thumb{
    background-color: #ffffff39;
    width: 0.1rem;
    border-radius: 1rem;
}

.contactsDiv{
    width: 90%;
    background-color: rgb(75, 118, 205);
    /* padding: 10px; */
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.contactHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80px;
    position: absolute;
    background-color: #388080;
    width: 100%;
}

.logoImg{
    height: 3rem;
}

.contactItemUsername{
    font-size: 24px;
}

.current-user{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(120, 135, 193);
    width: 400px;
}

.usersImg{
    width: 40px;
}

@media (max-width:1080px){
    .current-user{
        width: 280px;
    }
    .chatsContact{
        max-height: 75vh;
        padding-top: 285px;
    }
  
  }